$clr-slide-1: #B6CD87;
$clr-slide-2: #FFB2B2;
$clr-slide-3: #C1BFF2;
$clr-white: #ffffff;
$ff-primary: 'Clash Display', sans-serif;

@import url('https://fonts.cdnfonts.com/css/clash-display');

*::after,
*::before,
*
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    font-size: clamp(6px, 1vw, 10px);
}

html,
body
{
    height: 100%;
}

body{
    background-color: $clr-slide-1;
    font-size: 1rem;
    font-family: $ff-primary;
}

img{
    display: block;
    max-width: 100%;
}

%full-view{
    position: absolute;
    inset: 0;
}

%center-content{
    display: grid;
    place-items: center;
}

.banner{
    position: relative;
    min-height: calc(var(--vh) * 100);
    padding: 5rem 2rem;
    @extend %center-content;
}

.bottle__mask{
    position: relative;
    display: inline-block;
    mask-image: url('../images/bottle-mask/bottle.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;

    &__image{
        max-height: 40rem;
    }
}

.background{
    &__slider{
        @extend %full-view;

        .slick-list,
        .slick-track
        {
            @extend %full-view;
        }
    }

    &__slide{
        position: relative;

        &::after{
            content: attr(data-text);
            font-size: max(18rem, 20vw);
            font-weight: 600;
            color: $clr-white;
            @extend %full-view;
            @extend %center-content;
        }
    }
}

.fruits{
    &__slider{
        @extend %full-view;

        .slick-list,
        .slick-track
        {
            @extend %full-view;
            height: 100% !important;
        }
    }

    &__slide{
        background-size: contain;
        @media (min-width: 992px) {
            background-size: cover;
        }
        background-position: center;
        background-repeat: no-repeat;
        height: 100% !important;
    }
}

.label{
    &__slider{
        position: absolute;
        inset: 0;
        margin: auto;
        mix-blend-mode: multiply;
    }
}